.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  flex-wrap: wrap;
}

.post-container {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
